body {
  margin: 0;
  font-size: 0;
}

h1 {
  font-size: 2.5vw;
  margin: 0;
  font-family: 'Lalezar', cursive;
}

header {
  background-color: black;/*#014665;*/
}

footer {
  font-size: 2vw;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 1vw;
  cursor: pointer;
}

li:hover {
  background-color: gray;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Righteous', cursive;
}

.menuIcon {
  width: 100%;
  opacity: .6;
}

.menuIcon:hover {
  opacity: 1;
}

.imgGallery {
  background-color: #ffffff;
  display:inline-block;
  width:35%;
  text-align:center;
  padding: 1vw 0px 1vw 0;
}

.searchBox {
  display: inline-block;
  padding-left: 4vw;
  vertical-align: middle;
}

.textBox {
  width: 50vw;
  padding: 2px 6px;
  vertical-align: middle;
  height: 25px;
  border: 0;
}

.searchImage {
  border: none;
  display: block;
  padding: 0 2vw;
  background: no-repeat url("/images/search.png");
  background-size: auto;
  width: 15px;
  height: 15px;
  box-shadow: none;
}

.btnSearch {
  vertical-align: middle;
  height: 29px;
  cursor: pointer;
  padding: 0;
  border: solid 1px transparent;
}

.btnSearch:hover {
  background-color: lightgrey;
}

.divHeader {
  padding: 0 2vw 0 2vw;
  font-size: 0;
  line-height: 0;
}

.divLogo {
  cursor: pointer;
  display:inline-block;
  vertical-align: middle;
}

.divDescription {
  padding-left:1vw;
  display:inline-block;
  width: 50%;
  vertical-align:top;
  margin-left: 1vw;
  background-color: #ffffff;
}

.mainDiv {
  position:relative;
  text-align: center;
  background-color:#f1f1f1;
  padding: 0 2vw 0 2vw;
  font-family: 'Armata', sans-serif;
}

.dropdownMenu {
  display: inline-block;
  vertical-align: middle;
}

.dropBtn {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  outline: none;
  width: 2.5vw;
}

.dropMenu{
  background-color: #f1f1f1;/*#014665*/;
  width: 15vw;
  position: absolute;
  z-index: 99;
  display: none;
  font-size: 1.5vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.poster {
  height: 200px;
}
