<div ng-init="getTopRatedSeries();" style="position:relative; text-align: center; background-color:lightgrey;padding: 0 2vw 0 2vw;">
  <h1>TOP RATED MOVIES</h1>
  <div style="text-align:left;">
    <div style="display:inline-block; width:65%; vertical-align:top; text-align:left;">
      <div style="display:inline-block;">
        <img ng-src="{{'https://image.tmdb.org/t/p/w300/'+mainPoster.poster_path}}"/>
      </div>
      <div style="padding-left:1vw;display:inline-block; width: 60%; vertical-align:top;">
        <p style="font-size:1.5vw; text-align:left;"><span>Title:</span> <span>{{mainPoster.name}}</span></p>
        <p style="font-size:1.5vw; text-align:left;">{{mainPoster.overview}}</p>
        <p style="font-size:1.5vw; text-align:left;"><span ng-repeat="genre in mainPoster.genres">{{genre.name}} </span></p>
        <p style="font-size:1.5vw; text-align:left;">{{mainPoster.release_date}}</p>
        <p style="font-size:1.5vw; text-align:left;">{{mainPoster.vote_average}}</p>
      </div>
    </div>
    <div style="display:inline-block; width:35%; text-align:center;">
      <div style="display:inline-block; cursor:pointer;" ng-repeat="topRated_serie in topRated_series">
        <a ng-click="getDetails(topRated_serie.id,'tv')">
          <img class="poster" ng-src="{{'https://image.tmdb.org/t/p/w300/'+topRated_serie.poster_path}}"/>
        </a>
      </div>
    </div>
  </div>
</div>
