<div ng-init="getTopRatedSeries();" class="mainDiv">
  <h1>TOP RATED SERIES</h1>
  <div style="text-align:left;">
    <div class="divDetails">
      <div class="divMainPoster">
        <img class="mainPoster" ng-src="{{'https://image.tmdb.org/t/p/w300/'+mainPoster.poster_path}}"/>
      </div>
      <div class="divDescription">
        <p style="font-size:1.5vw; text-align:left;"><span>Title:</span> <span>{{mainPoster.name}}</span></p>
        <p style="font-size:1.5vw; text-align:left;">{{mainPoster.overview}}</p>
        <p style="font-size:1.5vw; text-align:left;"><span ng-repeat="genre in mainPoster.genres">{{genre.name}} </span></p>
        <p style="font-size:1.5vw; text-align:left;">{{mainPoster.release_date}}</p>
        <p style="font-size:1.5vw; text-align:left;">{{mainPoster.vote_average}}</p>
      </div>
    </div>
    <div class="imgGallery">
      <div class="divPoster" ng-repeat="topRated_serie in topRated_series">
        <a href="#/top_series/{{topRated_serie.id}}">
          <img class="poster" ng-src="{{'https://image.tmdb.org/t/p/w150/'+topRated_serie.poster_path}}"/>
        </a>
      </div>
    </div>
  </div>
</div>
